<ion-header>
  <ion-toolbar>
    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="list-container">

    <div class="photo-item" *ngFor="let photo of photos">

      <img [src]="photo.imagePath" alt="img">

      <div class="photo-details">

        <div class="photo-date">
          {{ photo.photoDate }}
        </div>

        <div class="photo-caption">
          {{ photo.caption }}
        </div>

        <div class="actions">

          
          <ion-button fill="clear" (click)="toggleFavorite(photo)">
            <ion-icon
              [name]="photo.isFavorite ? 'heart' : 'heart-outline'"
              [color]="photo.isFavorite ? 'danger' : 'medium'">
            </ion-icon>
          </ion-button>

          
          <ion-button fill="clear" (click)="editCaption(photo)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

          
          <ion-button fill="clear" color="danger" (click)="deletePhoto(photo)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>

        </div>

      </div>

    </div>

  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>